
body {
padding: 0px;
margin: 0px;
background-image: url(b.jpg);
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-position: center;
}
form{
transform: translate(-50% , -50%);
position:absolute;
top: 50%;
left: 50%;
width:350px;
height: 400px;
background-color: rgb(163 176 211 / 50%);
box-sizing: border-box;
-webkit-box-sizing: border-box;
border-radius: 15px;
transition: 0.5s;

}
h2 {
color: #fff;
text-align: center;
font-family: sans-serif;
padding-top: 50px;
left: 130px;
position: absolute;
}
input{
position: absolute;
outline: none;
border: none;
width: 250px; 
height: 35px;
border-bottom: 2px solid rgb(23 23 23 / 55%);
background: none;
padding: 5px ;
color: #fff;
caret-color: rgb(23 23 23 / 55%);
transition: 0.5s;
}
.in{
top: 140px;
left: 50px;

;
}
.in2{
top: 210px;
left: 50px;
}
a {text-decoration: none;
position: absolute;
top:265px;
left: 52px;
padding-top: 10px;
color: #fff;
transition: 0.5s;
font-size:small;
font-family: sans-serif;
} 
::placeholder {
color:rgb(23 23 23 / 55%);
font-weight: bolder;

}
a:hover{
color: rgb(23 23 23 / 55%) ;
}
input:hover{
border-bottom:2px solid #fff ;
}
:hover::placeholder{ 
color: #fff;
}
img {position: absolute;
left: 133.5px;
width: 71px;
height: 67px;
border-radius: 50%;
top:-32px ;
}
button{
border-radius: 8px;
position: absolute;
top: 323px;
left:109.5px;
width: 131px;
height: 30px;
font-weight: bold;
background-color: rgb(23 23 23 / 55%);
outline: none;
border: none;
color :#fff;
transition: 0.3s;
letter-spacing: 3px;
}
button:hover{
background-color:rgba(23, 23, 23, 0.783);
}
form:hover{
box-shadow:1px 1px 30px 0px rgba(233, 228, 228, 0.55) ;
width: 900px;
}
.es {
position: absolute;
top: 676px;
left: 427px;
width: 300px;
height: 44px;
box-shadow: none;
bottom:0px;
margin-left: -490px;}


h5{
position: absolute;
right:338px;
display: block;
bottom:267px;
font-weight: normal;
font-family: fantasy ;
font-size: x-large;
box-sizing: border-box;
color: rgba(23, 23, 23, 0.865);
letter-spacing: 3px;


}

span{
position: absolute;
right:328px;
display: block;
bottom:258px;
font-family: fantasy ;
font-size: x-large;
box-sizing: border-box;
color: rgba(23, 23, 23, 0.865);


}
pre{
position: absolute;
right:144px;
display: block;
bottom:142px;
font-family: fantasy ;
font-size: x-large;
box-sizing: border-box;
color: rgba(23, 23, 23, 0.865);
letter-spacing: 3px;
text-transform: uppercase;
}
div{
background-color: transparent;
width: 580px;
height: 400px;
position: absolute;
right: 0px;
visibility: hidden;
transition:all 0.1s 0s ease;
margin-right: -60px;
}
form:hover div {
    visibility: visible;
}